@mixin static{
    @font-face {
        font-family: dirooz;
        src: url(/assets/Font/Dirooz.ttf);
    }
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: dirooz;
}
@mixin col-cards{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    text-align: center;
}
@mixin card{
    margin: 5% auto;
    width: 75%;
    color: white;
    background-color: $firstcolor;
    padding: 8% 15%;
    border-radius: 10px;
}
@mixin row-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    gap: 10px;
}
@mixin row-cards-lg{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
@mixin row-cards-md{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
@mixin row-cards-sm{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
}