* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: dirooz;
}
@font-face {
  font-family: dirooz;
  src: url(/assets/Font/Dirooz.ttf);
}

body {
  background-color: rgb(223, 223, 255);
}

a {
  text-decoration: none;
}

header {
  height: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3%;
  background-color: rgb(122, 66, 253);
}

.navbar .name {
  color: white;
}

.navbar .right {
  display: flex;
  align-items: center;
}

.navbar .right .links {
  font-size: 20px;
  margin-right: 20px;
}

.navbar .right .links a {
  color: white;
  margin-right: 20px;
}

.navbar .logo img {
  width: 40px;
  border-radius: 50%;
}

.navbar .lines {
  display: none;
}

.content {
  margin: 30px 40px;
  display: flex;
  align-items: center;
}

.content .right {
  width: 70%;
  height: 600px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content .right .c-logo img {
  width: 40%;
  border-radius: 10px;
}

.content .left {
  width: 30%;
  height: 600px;
  border-radius: 10px;
  background-color: white;
  margin-right: 50px;
}

.content .right .title h1 {
  color: rgb(122, 66, 253);
  font-size: 50px;
}

.content .right .title h4 {
  font-size: 35px;
}

.content .left .cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
}

.content .left .card {
  margin: 5% auto;
  width: 75%;
  color: white;
  background-color: rgb(122, 66, 253);
  padding: 8% 15%;
  border-radius: 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 10px;
  margin: 4% 5%;
}

.items .item {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.items .item img {
  width: 100%;
}

.items .item .item-title {
  margin: 2% 5%;
  text-align: justify;
  font-weight: bold;
}

.items .item .item-title p {
  padding-bottom: 10px;
}

.items .item .item-title a {
  background-color: rgb(122, 66, 253);
  color: white;
  padding: 1% 1.5%;
  border-radius: 10px;
}

.footer {
  background-color: rgb(122, 66, 253);
  padding: 1% 5%;
  display: flex;
  align-items: center;
}

.footer .left {
  width: 50%;
  color: white;
  font-weight: 800;
}

.footer .right {
  width: 50%;
  padding: 0px 3%;
}

.footer .right li {
  list-style-type: none;
  font-weight: bold;
  font-size: 25px;
}

.footer .right a {
  color: white;
}

@media screen and (max-width: 992px) {
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .content .right {
    height: 500px;
  }
  .content .left {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
  .content .right {
    height: 500px;
    width: 100%;
  }
  .content .left {
    height: auto;
    width: 100%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 576px) {
  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }
  .navbar .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .right .links {
    display: none;
  }
  .navbar .right .lines {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  .navbar .right .lines .line {
    width: 35px;
    height: 4px;
    margin: 2.5px 0px;
    background-color: white;
  }
}

/*# sourceMappingURL=style.css.map */
